/* Define your animation class */
.animateIcon {
    /* width: 100px;
    height: 100px; */
    /* background-color: blue; */
    animation: mymove 600ms alternate infinite ease-in-out;
    cursor: pointer;
  }
  
  @keyframes mymove {
    0% { transform: scale(1); }
    100% { transform: scale(1.08); }
  }
  